{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="text-center">GirlCode</h1>
</div>

<div class="text-center">
  <p class="text-warning">

  </p>
</div>

<div class="text-center">
  <hr>
  <img class="img-square">
<h2>Where do you want to eat?</h2>
  <a href="/review" class="btn btn-lg btn-danger">Add a review</a>
  <a href="/show" class="btn btn-lg btn-danger">See the reviews</a>
  <h1></h1>
  <!-- img src="/static/images/Logo.jpg" width= "60%"-->
</div>






{% endblock %}
