{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Mission Statement</h1>
  <div>
    Our goal with this app is to allow students to rate and see rates for the food at Usdan
    and Sherman before wasting a meal swipe on food that may suck.
  <div class="jumbotron">
    <h2> Team Members:</h2>
  <p class="text-warning">
    Meet the members of Girl Code!
    <br>



    <a href="yessenia" class="btn btn-lg btn-info">Yessenia</a>
      <img class = "img-circle" width="100" src = "static/images/yessi.jpg">
    <br>

    <a href="person1" class="btn btn-lg btn-info">Catherine</a>
      <img class = "img-circle" width="100" src = "static/images/cat.jpg">
    <br>
    <a href="person2" class="btn btn-lg btn-info">Daniella </a>
      <img class = "img-circle" width="100" src = "static/images/dani.jpg">
    <br>
    <a href="person3" class="btn btn-lg btn-info">Lola     </a>
      <img class = "img-circle" width="100" src = "static/images/Lola.jpg">
    <br>
    <a href="person4" class="btn btn-lg btn-info">Denezia  </a>
      <img class = "img-circle" width="100" src = "static/images/denezia.jpg">
    <br>

  </p>
</div>

<div class="text-center">

<img src = "" width="200">
</div>


{% endblock %}
