{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Mission Statement</h1>
  <div>
    Our goal with this app is to ....
  </div>
  <div class="jumbotron">
    <h2> Team Members:</h2>
  <p class="text-warning">
    Meet our great team!
    <br>


    <a href="kamil" class="btn btn-lg btn-info">Kamil</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>
    <a href="yessenia" class="btn btn-lg btn-info">Yessenia</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>

    <a href="person1" class="btn btn-lg btn-info">Person 1</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>
    <a href="person2" class="btn btn-lg btn-info">Person 2</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>
    <a href="person3" class="btn btn-lg btn-info">Person 3</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>
    <a href="person4" class="btn btn-lg btn-info">Person 4</a>
      <img class = "img-circle" width="100" src = "static/images/person.jpg">
    <br>

  </p>
</div>

<div class="text-center">

<img src = "" width="200">
</div>


{% endblock %}
